/* landing-page.css */
.Service-page {
    background: url('pexels-cottonbro-studio-5803622.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .Service-page h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .Service-page p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .Service-page .btn {
    font-size: 1.2rem;
  }
  